#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

button {
  background-color: #01006a;
  color: #fff;
  border-radius: 9px;
  border: none;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
  font-weight: 700;
}

button:hover {
  background-color: #0200b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  #root {
    width: 50vw;
  }
}

.logo {
  width: 30%;
  height: auto;
  margin-bottom: 1rem;
}

.dropdown {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 9px;
  text-align: left;
  font-size: 1.2rem;
}

.react-select__option:hover {
  background-color: rgba(24, 44, 253, 0.8);
  color: #fff;
}

.copy-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 9px;
  padding: 0.5rem 1rem;
  background-color: rgba(24, 44, 253, 0.1);
  opacity: 0;
  animation: fadeIn 0.3s ease forwards, fadeOut 0.3s ease forwards 1.7s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.copy-alert img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.copy-alert p {
  margin: 0;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}

.csv-upload {
  border: 2px dashed #ccc;
  border-radius: 9px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  background-color: rgba(24, 44, 253, 0.1);
  position: relative;
  margin-bottom: 1rem;
}

.csv-upload:hover {
  background-color: rgba(24, 44, 253, 0.2);
  border-color: #181cfd;
}

.csv-upload h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  margin: 0px;
}

.csv-upload input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid #000;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #0200b3;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid #0200b3;
  outline-offset: max(2px, 0.15em);
}

.checkbox p {
  margin: 0;
  font-size: 1.2rem;
}

label {
  display: flex;
  width: 100%;
  font-size: 1.2rem;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
